<html>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
    <body>
        <main>
            <script src="https://unpkg.com/htmx.org@2.0.4"></script>

            <header>
                <h1>Welcome</h1>
            </header>

            {{ template "status" . }}
        </main>
    </body>
</html>

{{ define "status" }}
{{ if not .Started }}
<fieldset id="bank-id" hx-target="this">
    <legend>Setup with BankID</legend>
    <button hx-post="/start" hx-swap="outerHTML">
        Start
    </button>
</fieldset>
{{ else if .ValidUntil }}
<fieldset id="bank-id">
    <h2>Setup complete!</h2>
    <h3>Valid until: {{.ValidUntil.Format "2006-01-02 15:04:05"}}</h3>
</fieldset>
{{ else if .Error }}
<fieldset id="bank-id" hx-target="this">
    <legend>Something went wrong</legend>
    {{.Error}}
    <button hx-post="/start" hx-swap="outerHTML">
        Restart
    </button>
</fieldset>
{{ else }}
<fieldset id="bank-id" hx-get="status" hx-swap="outerHTML transition:true" hx-trigger="every 2s">
    <legend>Scan with BankID</legend>
    <img src="{{.QRCode}}" />
</fieldset>
{{ end }}
{{ end }}
