<html>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
    <body>
        <main>
            <script src="https://unpkg.com/htmx.org@2.0.4"></script>

            <header>
                <h1>Welcome</h1>
            </header>

            <fieldset id="bank-id" hx-target="this">
                <legend>Setup with BankID</legend>
                <button hx-post="/start" hx-swap="outerHTML">
                    Start
                </button>
            </fieldset>
        </main>
    </body>
</html>
